<h3>Listado de productos</h3>

<ngb-alert [dismissible]="false">
	<strong>Atencion</strong> Solo cargar nuevos productos.
</ngb-alert>

@if(productoActual) {
    <p>Producto actual</p>
    <p>Id:{{productoActual.id}}</p>
    <p>Nombre:{{productoActual.nombre}}</p>
    <p>Precio:{{productoActual.precio}}</p>
}

<hr>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th></th>
    </tr>

    @for(p of productos; track p.id) {
        <tr>
            <td>{{p.id}}</td>
            <td>{{p.nombre}}</td>
            <td>{{p.precio}}</td>
            <td><button type="button" class="btn btn-primary" (click)="eventoClickVer(p)">Ver</button></td>
        </tr>
    }
</table>


<app-form-producto (eventoGuardarProducto)="recibirProducto($event)"></app-form-producto>


