<h3>Listado de productos</h3>

@if(productoActual) {
    <p>Producto actual</p>
    <p>Id:{{productoActual.id}}</p>
    <p>Nombre:{{productoActual.nombre}}</p>
    <p>Precio:{{productoActual.precio}}</p>
}

<hr>
<table>
    <tr>
        <th>Id</th>
        <th>Nombre1</th>
        <th>Nombre2</th>
        <th>Fecha alta</th>
        <th>Precio</th>
        <th></th>
    </tr>

    @for(p of productos; track p.id) {
        <tr>
            <td>{{p.id}}</td>
            <td>{{p.nombre | capitalize }}</td>
            <td>{{p.nombre | uppercase }}</td>
            <td>{{p.fechaAlta | date:'d/M/y' }}</td>
            <td>{{p.precio | currency:'$'}}</td>
            <td><button type="button" (click)="eventoClickVer(p)">Ver</button></td>
        </tr>
    }
</table>


<app-form-producto (eventoGuardarProducto)="recibirProducto($event)"></app-form-producto>
