<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Proyecto integrador</h1>
    </div>
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="listado-productos" class="cursor-pointer">Listado de productos</a></li>
      <li><a routerLink="ver-producto/99" class="cursor-pointer">Ver producto con id 99</a></li>
      <li><a routerLink="nohayruta" class="cursor-pointer">Error ruta</a></li>
    </ul>
    
    <button type="button" (click)="eventoClickCambiarRuta()">Ejemplo cambio de ruta</button>
    
    

    <router-outlet />

  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


